In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in f:\anaconda\envs\data_science\lib\site-packages (8.4.0)

In [2]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(host="127.0.0.1", username="root", password="Ibra157him", database="library",port=3306)
type(conn)

mysql.connector.connection_cext.CMySQLConnection

In [4]:

cursor = conn.cursor()
type(cursor)

mysql.connector.cursor_cext.CMySQLCursor

In [10]:
# 1 --- --- ---  find the number of availalbe copies of Dracula  :

cursor.execute("""
    select (count(*) - (select COUNT(*) AS LOAND_DRACULA
from books b RIGHT join loans l on b.BookID = l.BookID
where title = 'Dracula' AND ReturnedDate IS NULL)) AS availalbe_Dracula_copies
from books
where title = 'Dracula';
""")

In [18]:
# 1 --- --- ---  find the number of availalbe copies of Dracula  :
availalbe_Dracula_copies = cursor.fetchall()
availalbe_Dracula_copies

[]

In [15]:
# 1 --- --- ---  find the number of availalbe copies of Dracula  :
print(f'the availalbe Dracula copies is {availalbe_Dracula_copies[0][0]}') #the availalbe Dracula copies is 3

the availalbe Dracula copies is 3

In [21]:
# -- 2--- -- Add new books to the library 

cursor.execute("""
insert INTO books values 
(202,'css','hamad',2023,1234567898 );""")

In [23]:
cursor.fetchall()

[]

In [24]:
cursor.execute("""
SELECT * FROM books
where title = 'css';""")

css_cheack = cursor.fetchall()
css_cheack # [(202, 'css', 'hamad', 2023, 1234567898)]

[(202, 'css', 'hamad', 2023, 1234567898)]

In [25]:
# /* Check books for Due back                             */
# /* generate a report of books due back on July 13, 2020 */
# /* with patron contact information                      */


cursor.execute("""
SELECT b.BookID , b.Title, p.FirstName, p.LastName, l.DueDate , l.ReturnedDate
FROM books b join loans l on b.BookID = l.BookID
join patrons p on p.PatronID = l.PatronID
where l.DueDate = '2020-07-13';""")

cheack_books = cursor.fetchall()
cheack_books

# [(10,
#   'The Count of Monte Cristo',
#   'Kala',
#   'Simonian',
#   '2020-07-13',
#   '2020-07-13'),
#  (155, 'The Prophet', 'Lydie', 'Awmack', '2020-07-13', '2020-07-13'),
#  (169,
#   'Second Treatise of Government',
#   'Anthe',
#   'Dinjes',
#   '2020-07-13',
#   '2020-07-13'),
#  (73, 'Dracula', 'Cornelia', 'Koppe', '2020-07-13', '2020-07-13')]

[(10,
  'The Count of Monte Cristo',
  'Kala',
  'Simonian',
  '2020-07-13',
  '2020-07-13'),
 (155, 'The Prophet', 'Lydie', 'Awmack', '2020-07-13', '2020-07-13'),
 (169,
  'Second Treatise of Government',
  'Anthe',
  'Dinjes',
  '2020-07-13',
  '2020-07-13'),
 (73, 'Dracula', 'Cornelia', 'Koppe', '2020-07-13', '2020-07-13')]